extends layout

append head
    link(rel='stylesheet', href='/bower_components/leaflet/dist/leaflet.css')
    script(src='/bower_components/leaflet/dist/leaflet.js')
    script(src='/javascripts/map.js')

block content
    h1= title
    p Welcome to #{title}
    #map